.bg_1{
    background: linear-gradient(130deg, #cb8e00, #e5ac01);
    /* background-color: #cb8e00;
    background-color: #e5ac01; */
}
.bg1_1{
    color: #cb8e00;
}
.bg2_2{
    color: #8e9198;
}
.bg_2{
    background-color: #fff;
}
.bg_3{
    background: linear-gradient(130deg,  #6e7681, #939ba4);
    /* background-color: #6e7681;
    background-color: #939ba4; */
}
.bg_4{
    background-color: #1db654;
}
.bg_5{
    background-color: #2c6bea;
}
.bg_6{
    background-color: #f9fafc;
}
.bg_7{
    background-color: #0f1727;
}
.bg_8{
    background-color: #535454;
}
.bg_9{
    background-color: #943aec;
}
.bg_10{
    background-color: #d92a2b;
}
.bg_11{
    background-color: #4e48ea;
}
.bg_12{
    background-color: #fdfcea;
}
.bg_13{
    background-color: #ccd0d7;
}

.bg_4_g{
    background: linear-gradient(130deg,  #f0fdf5, #fff);
}
.bg_1_g{
    background: linear-gradient(130deg,  #fdfdee, #fff);
}
.bg_5_g{
    background: linear-gradient(130deg,  #eff7ff, #fff);
}

.active{
    color: #cb8e00 !important;
}
.nav-link:hover{
    color: #cb8e00 !important;
}
.hero img {
  height: 100vh;
  width: 100vw;
  color: #fff;
  transition: transform .6s ease, top .6s ease;

}
.bg-img {
    /* max-width: 100%; */
    /* min-width: 100%; */
}
.bg-img{
    /* background-image: url(./assets/photo-1590273089302-ebbc53986b6e.jpeg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}
.cerc{
    width: 45px;
}
.fs-7 {
  font-size: 0.80rem !important;
}
.fs-9 {
  font-size: 0.70rem !important;
}
.fs-8{
    font-size: 2.5em;
}
.div{
    width: 20px;
    height: 20px;
    border-radius: 400px;
}
.lead{
    z-index: 20;
}

.login-card1{
            width: 800px;
            border-radius: 20px;
            padding: 100px;
            /* margin-top: 100px; */
}


.profile-icon{
            width: 40px;
            height: 40px;
            background-color: #d89d00;
            color: white;
            border-radius: 50%;
            font-size: 20px;
}

.btn-login:hover{
            background-color: #be8a00;
            color: white;
}

.btn-login{
            background-color: #d89d00;
            color: white;
}
 .signup-link{
            color: #d89d00;
            text-decoration: none;
            font-weight: 600;
        }

        .signup-link{
            color: #d89d00;
            text-decoration: none;
            font-weight: 600;
        }

        .btn-login{
            background-color: #d89d00;
            color: white;
        }
